## First Assignment

#### 1) Apply the appropriate string methods to the **x** variable (as '.upper') to change it exactly to: "$Dichlorodiphenyltrichloroethane$".

In [1]:
x = "DiClOrod  IFeNi  lTRicLOr oETaNo  DiChlorod iPHeny lTrichL oroEThaNe"
x.lower()
x.capitalize()
x1=x.replace("  ", "")
x1=x.replace(" ", "")
print(x1)
x2=x1.replace("DiClOrodIFeNilTRicLOroETaNo", "")
print(x2)
x2.lower()
x2.capitalize()

DiClOrodIFeNilTRicLOroETaNoDiChlorodiPHenylTrichLoroEThaNe
DiChlorodiPHenylTrichLoroEThaNe

'Dichlorodiphenyltrichloroethane'

#### 2) Assign respectively the values: 'word', 15, 3.14 and 'list' to variables A, B, C and D in a single line of code. Then, print them in that same order on a single line separated by a space, using only one print statement.

In [2]:
A, B, C, D='word', 15, 3.14, 'list'
print(A, B, C, D)

word 15 3.14 list

#### 3) Use the **input()** function to receive an input in the form **'68.4 1.71'**, that is, two floating point numbers in a line separated by space. Then, assign these numbers to the variables **w** and **h** respectively, which represent an individual's weight and height (hint: take a look at the '.split()' method). With this data, calculate the individual's Body Mass Index (BMI) from the following relationship: 
    
\begin{equation}
BMI = \dfrac{weight}{height^2}
\end{equation}

In [3]:
input('68.4 1.71')
w, h='68.4 1.71'.split()
print(w, h)
print(w)
bmi=68.4/(1.71**2)
print(bmi)

68.4 1.71

68.4 1.71
68.4
23.39181286549708

#### This value can also be classified according to ranges of values, following to the table below. Use conditional structures to classify and print the classification assigned to the individual. 

<center><img src="https://healthtravelguide.com/wp-content/uploads/2020/06/Body-mass-index-table.png" width="30%"><\center>  


(source: https://healthtravelguide.com/bmi-calculator/)

In [4]:
if bmi < 18.5:
    print ('Underweight')
elif bmi >= 18.5 <= 24.9:
    print ('Normal weight')
elif bmi >= 25.0 <= 29.9:
    print ('Pre-obesity')
elif bmi >= 30.0 <= 34.9:
    print ('Obesity class I')
elif bmi >= 35.0 <= 39.9:
    print ('Obesity class II')
elif bmi >= 40.0:
    print ('Obesity class III')

Normal weight

#### 4) Receive an integer as an input and, using a loop, calculate the factorial of this number, that is, the product of all the integers from one to the number provided.

In [5]:
a=int(input('Enter number: '))
for integer in range (1,6,1):
    print (integer*a)

Enter number:  5

5
10
15
20
25

#### 5) Using a while loop and the input function, read an indefinite number of integers until the number read is -1. Present the sum of all these numbers in the form of a print, excluding the -1 read at the end.

In [15]:
b=int(input('Enter number: '))
while b>=-1:
    print (b)
    b += -1
    num=[]
for b in range(0,7):
    num.append(b)
print(num)
print(sum(num))

Enter number:  6

6
5
4
3
2
1
0
-1
[0, 1, 2, 3, 4, 5, 6]
21

#### 6) Read the **first name** of an employee, his **amount of hours worked** and the **salary per hour** in a single line separated by commas. Next, calculate the **total salary** for this employee and show it to two decimal places.

In [11]:
employee=str(input('first name: ')), int(input('work hours: ')), float(input('salary per hour: '))

first name:  Diane
work hours:  40
salary per hour:  19.45

In [19]:
total_salary=40*19.45
print(total_salary)

778.0

#### 7) Read three floating point values **A**, **B** and **C** respectively. Then calculate itens a, b, c, d and e:

In [17]:
A=float(input('Enter value: '))
B=float(input('Enter value: '))
C=float(input('Enter value: '))

Enter value:  3.68
Enter value:  5.02
Enter value:  7.46

    a) the area of the triangle rectangle with A as the base and C as the height.

In [18]:
a=(0.50*A)*C
print(a)

13.7264

    b) the area of the circle of radius C. (pi = 3.14159)

In [19]:
b=3.14159*(C**2)
print(b)

174.834510044

    c) the area of the trapezoid that has A and B for bases and C for height.

In [20]:
c=((A+B)/2)*C
print(c)

32.451

    d) the area of the square that has side B.

In [21]:
d=B**2
print(d)

25.200399999999995

    e) the area of the rectangle that has sides A and B.

In [22]:
e=A*B
print(e)

18.473599999999998

#### 8) Read **the values a, b and c** and calculate the **roots of the second degree equation** $ax^{2}+bx+c=0$ using [this formula](https://en.wikipedia.org/wiki/Quadratic_equation). If it is not possible to calculate the roots, display the message **“There are no real roots”**.

In [16]:
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))

x=(-b + (((b**2)-(4*a*c))**0.5))/(2*a)
if (b**2)-(4*a*c) < 0:   #since you can't calculate the root of a negative value
    print("There are no real roots") 
else:
    print(x)

Enter a:  4
Enter b:  6
Enter c:  5

There are no real roots

In [17]:
a=int(input('Enter a: '))
b=int(input('Enter b: '))
c=int(input('Enter c: '))

x=(-b + (((b**2)-(4*a*c))**0.5))/(2*a)
if (b**2)-(4*a*c) < 0:   #since you can't calculate the root of a negative value
    print("There are no real roots") 
else:
    print(x)

Enter a:  2
Enter b:  7
Enter c:  4

-0.7192235935955849

#### 9) Read four floating point numerical values corresponding to the coordinates of two geographical coordinates in the cartesian plane. Each point will come in a line with its coordinates separated by space. Then calculate and show the distance between these two points. 

(obs: $d=\sqrt{(x_1-x_2)^2 + (y_1-y_2)^2}$)

In [9]:
x1, x2, y1, y2=float(input('Enter x1: ')), float(input('Enter x2: ')), float(input('Enter y1: ')), float(input('Enter y2: '))
p1=x1, y1
p2=x2, y2
print(p1, p2)
d=((((x1-x2)**2)+(y1-y2)**2)**0.5)
print(d)

Enter x1:  3.4
Enter x2:  7.2
Enter y1:  4.5
Enter y2:  1.8

(3.4, 4.5) (7.2, 1.8)
4.661544808322667

#### 10) Read **two floating point numbers** on a line that represent **coordinates of a cartesian point**. With this, use **conditional structures** to determine if you are at the origin, printing the message **'origin'**; in one of the axes, printing **'x axis'** or **'y axis'**; or in one of the four quadrants, printing **'q1'**, **'q2**', **'q3'** or **'q4'**.

In [39]:
x, y=float(input('Enter x: ')), float(input('Enter y: '))
point=x, y
if x == 0.0 and y == 0.0:
    print('origin')
elif x == 0.0:
    print('y axis')
elif y == 0.0:
    print('x axis')
elif x < 0.0 and y > 0.0:
    print('q1')
elif x > 0.0 and y > 0.0:
    print('q2')
elif x < 0.0 and y < 0.0:
    print('q3')
elif x > 0.0 and y < 0.0:
    print('q4')

Enter x:  -3.5
Enter y:  -2.7

q3

#### 11) Read an integer that represents a phone code for international dialing.  
#### Then, inform to which country the code belongs to, considering the generated table below:
(You just need to consider the first 10 entries)

In [4]:
import pandas as pd
df = pd.read_html('https://en.wikipedia.org/wiki/Telephone_numbers_in_Europe')[1]
df = df.iloc[:,:2]
df.head(20)

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49
11          Greece                   30
12         Hungary                   36
13         Iceland                  354
14         Ireland                  353
15           Italy                   39
16          Latvia                  371
17   Liechtenstein                  423
18       Lithuania                  370
19      Luxembourg                  352

In [5]:
print(df[0:11])
code=int(input('Enter phone code: '))

           Country Country calling code
0          Austria                   43
1          Belgium                   32
2         Bulgaria                  359
3          Croatia                  385
4           Cyprus                  357
5   Czech Republic                  420
6          Denmark                   45
7          Estonia                  372
8          Finland                  358
9           France                   33
10         Germany                   49

Enter phone code:  358

In [6]:
print('Phone code 358 belongs to Finland')

Phone code 358 belongs to Finland

#### 12) Write a piece of code that reads 6 numbers in a row. Next, show the number of positive values entered. On the next line, print the average of the values to one decimal place.

In [1]:
row = [int(row) for row in input("Enter numbers ").split()]

positive_value=0
for input in row: 
    if input >0:
        positive_value += 1
    else:
        positive_value += 0
print(positive_value)

average=(sum(row)/len(row))
print(average)
round(average, 1)

Enter numbers  1 -2 3 5 4 8

5
3.1666666666666665

3.2

#### 13) Read an integer **N**. Then print the **square of each of the even values**, from 1 to N, including N, if applicable, arranged one per line.

In [10]:
N=int(input('Enter number: '))
for number in range(1,N+1,1):
    if number %2 ==0:
        print(number**2)
    else:
        continue

Enter number:  10

4
16
36
64
100

#### 14) Using **input()**, read an integer and print its classification as **'even / odd'** and **'positive / negative'** . The two classes for the number must be printed on the same line separated by a space. In the case of zero, print only **'null'**.

In [4]:
z=int(input('Enter number: '))
if z % 2 == 0 and z > 0:
    print('even ' 'positive')
elif z % 2 == 0 and z < 0:
    print('even ' 'negative')
elif z % 2 != 0 and z > 0:
    print('odd ' 'positive')
elif z % 2 != 0 and z < 0:
    print('odd ' 'negative')
elif z == 0:
    print('null')

Enter number:  5

odd positive

In [2]:
z=int(input('Enter number: '))
if z % 2 == 0 and z > 0:
    print('even ' 'positive')
elif z % 2 == 0 and z < 0:
    print('even ' 'negative')
elif z % 2 != 0 and z > 0:
    print('odd ' 'positive')
elif z % 2 != 0 and z < 0:
    print('odd ' 'negative')
elif z == 0:
    print('null')

Enter number:  -4

even negative

## Challenge
#### 15) Ordering problems are recurrent in the history of programming. Over time, several algorithms have been developed to fulfill this function. The simplest of these algorithms is the [**Bubble Sort**](https://en.wikipedia.org/wiki/Bubble_sort), which is based on comparisons of elements two by two in a loop of passes through the elements. Your mission, if you decide to accept it, will be to input six whole numbers ramdonly ordered. Then implement the **Bubble Sort** principle to order these six numbers **using only loops and conditionals**.  
#### At the end, print the six numbers in ascending order on a single line separated by spaces.

In [9]:
i = [int(i) for i in input("Enter numbers ").split()]

Enter numbers  8 13 4 7 2 1

In [11]:
print(i)

[8, 13, 4, 7, 2, 1]